{% extends "base.j2.html" %}
{% block content %}
  <div class="block">

    <h1 class="title">Show Files</h1>

    <nav class="pagination" role="navigation" aria-label="pagination">
      {% if files.has_before %}
        <a class="pagination-previous" href="/files?{{before_query}}">Previous</a>
      {% else %}
        <a class="pagination-previous is-disabled">Previous</a>
      {% endif %}
      {% if files.has_after %}
        <a class="pagination-next" href="/files?{{after_query}}">Next</a>
      {% else %}
        <a class="pagination-next is-disabled">Next</a>
      {% endif %}
      <ul class="pagination-list">
        <li class="pagination-link is-current">{{ files_total }}</li>
      </ul>
    </nav>

    <div class="columns is-multiline">
      {% for file in files.files %}
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image" >
              <figure class="image is-4by3">
                <img src="{{ file|url_camera_file_image }}">
              </figure>
            </div>

            <div class="card-content">
              <div class="content">
                <details>
                  <summary>
                    <time datetime="{{file.start_time}}">{{file.start_time|format_date}}</time>
                  </summary>
                  <strong>Kind</strong>
                  <span>{{file.kind}}</span>
                  <br>
                  <strong>Duration</strong>
                  <span>{{ file.start_time|duration(file.end_time) }}</span>
                  <br>
                  <strong>Size</strong>
                  <span>{{file.size|filesizeformat}}</span>
                  <br>
                  <strong>Updated At</strong>
                  <time datetime="{{file.updated_at}}">{{file.updated_at|format_date}}</time>
                  <br>
                  <strong>Events</strong>
                  <span>{{file.events|json|safe}}</span>
                </details>
              </div>
            </div>

            <footer class="card-footer">
              <a href="/cameras/{{file.camera_id}}" class="card-footer-item">Camera</a>
              <a href="{{ file|url_camera_file }}" class="card-footer-item">Source</a>
            </footer>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="block is-flex">
    <form method="get" action="/files">
      <div class="field is-horizontal">
        <div class="field-body">

          <div class="field">
            <label class="label">Events</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple size="8" name="events">
                  {% for ipc_event in ipc_events %}
                    <option value="{{ipc_event.name}}">{{ipc_event.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Kind</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple name="kinds">
                  <option value="jpg">jpg</option>
                  <option value="dav">dav</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Limit</label>
            <div class="control">
              <div class="select">
                <select name="limit">
                  <option selected></option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Cameras</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple name="camera_ids">
                  {% for camera in cameras %}
                    <option value="{{camera.id}}">{{camera.ip}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link">Search</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
