{% extends "base.j2.html" %}
{% block content %}
  <h1>Homepage</h1>
  <div>
    <h2>Camera List</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>IP Address</th>
        <th>Username</th>
        <th></th>
      </tr>
      {% for cam in cams %}
        <tr>
          <td><a href="/cameras/{{cam.id}}">{{cam.id}}</a></td>
          <td><a href="http://{{cam.ip}}" target="_blank">{{cam.ip}}</a></td>
          <td>{{cam.username}}</td>
          <td>
            <form method="post" action="/cameras/{{cam.id}}/delete">
              <button type="submit">delete</button>
            </form>
          </td>
          <td>
            <form method="post" action="/cameras/{{cam.id}}/data">
              <button type="submit">refresh</button>
            </form>
          </td>
          <td>
            <form method="post" action="/cameras/{{cam.id}}/scan/full">
              <button type="submit">full scan</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div>
    <h1>Add Camera</h1>
    <form method="post" action="/cameras">
      <label for="ip">IP Address</label><br>
      <input type="text" id="ip" name="ip"><br>

      <label for="username">Username</label><br>
      <input type="text" id="username" name="username"><br>

      <label for="password">Password</label><br>
      <input type="password" id="password" name="password"><br><br>

      <input type="submit" value="Add Camera">
    </form>
  </div>
{% endblock %}
