{% extends "base.j2.html" %}
{% block content %}
  <div class="box">
    <h1 class="title">Cameras</h1>
    <div class="table-container">
      <table class="table is-striped is-fullwidth">
        <tr>
          <th>ID</th>
          <th>IP Address</th>
          <th>Username</th>
          <th></th>
        </tr>
        {% for camera in cameras %}
          <tr>
            <td><a href="/cameras/{{camera.id}}">{{camera.id}}</a></td>
            <td><a href="http://{{camera.ip}}">{{camera.ip}}</a></td>
            <td>{{camera.username}}</td>
            <td>
              <div class="buttons">
                <a class="button is-link" href="/cameras/{{camera.id}}">Show</a>
                <form method="post" action="/cameras/{{camera.id}}/data">
                  <button class="button mr-1" type="submit">Refresh</button>
                </form>
                <form method="post" action="/cameras/{{camera.id}}/scan/full">
                  <button class="button mr-1" type="submit">Full Scan</button>
                </form>
                <form method="post" action="/cameras/{{camera.id}}/delete">
                  <button class="button mr-1 is-danger" type="submit">Delete</button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="box">
    <h1 class="title">Add Camera</h1>
    <form method="post" action="/cameras">
      <div class="field">
        <label class="label">IP Address</label>
        <div class="control">
          <input class="input" type="text" name="ip">
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" name="username">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link">Add Camera</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
