{% extends "base.j2.html" %}
{% block content %}
  <div>
    <h1>Show Active Scans</h1>
    <pre>{{ active_scans|json|safe }}</pre>
  </div>
  <div>
    <h1>Show Pending Scans</h1>
    <pre>{{ pending_scans|json|safe }}</pre>
  </div>
  <div>
    <h1>Show Completed Scans</h1>
    {% for scan in completed_scans %}
      <form method="post" action="/scans/completed/{{scan.id}}">
        <button type="submit" {% if !scan.can_retry || scan.retry_pending %}disabled{% endif %}>retry</button>
      </form>
    <pre>{{ scan|json|safe }}</pre>
    {% endfor %}
  </div>
{% endblock %}
