{% extends "base.j2.html" %}
{% block content %}
  <div class="block">
    <h1 class="title">Show Active Scans</h1>
    <pre>{{ active_scans|json|safe }}</pre>
  </div>

  <div class="block">
    <h1 class="title">Show Pending Scans</h1>
    <pre>{{ pending_scans|json|safe }}</pre>
  </div>

  <div class="block">
    <h1 class="title">Show Completed Scans</h1>
    {% for scan in completed_scans %}
      <hr>
      <div class="block">
        <form method="post" action="/scans/completed/{{scan.id}}">
          <button class="button" type="submit" {% if !scan.can_retry || scan.retry_pending %}disabled{% endif %}>Retry</button>
        </form>
      </div>
      <pre>{{ scan|json|safe }}</pre>
    {% endfor %}
  </div>
{% endblock %}
