{% extends "base.j2.html" %}
{% block content %}
  <h1>Camera Show</h1>
  <pre>{{ show_cameras|json|safe }}</pre>
  <h1>Update Camera</h1>
  <form method="post" action="/cameras/{{show_cameras.id}}">
    <label for="ip">IP Address</label><br>
    <input type="text" id="ip" name="ip"><br>

    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Update Camera">
  </form>
{% endblock %}
