{% extends "base.jinja.html" %} {% block content %}
  <div class="block">
    <h1 class="title">Camera Show</h1>
    <pre>{{ show_cameras|json|safe }}</pre>
  </div>
  <div class="box">
    <h1 class="title">Update Camera</h1>
    <form method="post" action="/cameras/{{show_cameras.id}}">
      <div class="field">
        <label class="label">IP Address</label>
        <div class="control">
          <input class="input" type="text" name="ip" />
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" name="username" />
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link">Update Camera</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
